body {background-color: aqua; text-align: justify;}
h1 { text-align: center;background-color: darkcyan; color:black}
h3 {text-align: justify;color: black;;}
b{color: blue;font-size: 18px;}
i {color: blue;font-size: 18px;}
header, footer{background-color: darkcyan; color: black; text-align: center;}
main {background-color: dodgerblue;}